# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos (PostgreSQL)
DB_NAME=levelproaudio
DB_USER=levelproaudio_user
DB_PASSWORD=1275
DB_HOST=db
DB_PORT=5432

# Google Cloud Storage
GCS_BUCKET_NAME=levelproaudio-media
GOOGLE_APPLICATION_CREDENTIALS=/app/gcloud-key.json

# MercadoPago
MP_ACCESS_TOKEN=your-mp-access-token
MP_PUBLIC_KEY=your-mp-public-key

# Frontend
VITE_API_URL=http://localhost:8000/api/v1